body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #3EE51F;
}

.pokedex {
  border-radius: 8%;
  background-color: white;
  width: 70%;
  margin-top: 5%;
  padding-top: 1%;
}

.estilosModal {
  background-color: #c1f2f1;
  width: 30%;
  border-radius: 10%;
}

.imagenModal {
  width: 100%;
}
